<div class="container py-5">
    <h1 class="text-center">Đăng nhập</h1>
    <div class="mx-auto" style="max-width: 400px;">
      <% if (req?.msg) { %>
        <div class="alert alert-success text-center mb-2" role="alert">
          <%= req?.msg %>
        </div>
      <% } %>
      <% if (req?.error) { %>
        <div class="alert alert-danger text-center mb-2" role="alert">
          <%= req?.error %>
        </div>
      <% } %>
      <% if (error.length) { %>
        <div class="alert alert-danger text-center mb-2"><%= error %></div>
        <% } %>
    </div>
    <form class="mx-auto" style="max-width: 400px;" method="POST">
      <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">Email</label>
        <input 
          type="text" 
          name="email" 
          value="<%= req?.old?.email %>" 
          placeholder="Email..." 
          class="form-control" 
          id="exampleInputEmail1" 
          aria-describedby="emailHelp"
        >
        <span class="text-danger"><%= req?.errors?.email %></span>
      </div>
      <div class="mb-3">
        <label for="exampleInputPassword1" class="form-label">Password</label>
        <input 
          type="password" 
          name="password" 
          placeholder="Password..." 
          class="form-control" 
          id="exampleInputPassword1"
        >
        <span class="text-danger"><%= req?.errors?.password %></span>
      </div>
      <div class="mb-3" style="text-align: right;">
        <a href="/auth/forgot-password">Quên mật khẩu?</a>
      </div>
      <div class="d-grid">
      <button type="submit" class="btn btn-primary" style="width: 100%;">Đăng nhập</button>
        <a href="/auth/google/redirect" class="btn btn-danger mt-2"
          >Đăng nhập với Google</a
        >
      </div>
      <div class="form-text pt-2">Bạn chưa có tài khoản? <a href="/auth/register">Đăng ký</a></div>
    </form>
  </div>